/vendor
/node_modules
Homestead.yaml
Homestead.json

nbproject/
npm-debug.log

composer.lock
.idea
.DS_Store

/storage/*

.env.*.php
.env.php
.env

.DS_Store
*.DS_Store
*/.DS_Store
app/.DS_Store

*.lock

/.vscode
/node_modules
/resources/assets/bower_components
/public/bower_components
